<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Welcome  {{username}} </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/getcontact" class="nav-link">Get Contacts</a>
        </li>
        <li class="nav-item">
          <a routerLink="/addcontact" class="nav-link">Add Contacts</a>
        </li>
      </ul>
    </div>
    <form class="d-flex">
      <button class="btn btn-danger" type="submit" style="margin-left: 40px;" (click)="show()">
        <a routerLink="/" style="text-decoration: none; color: white;" (click)="show()">Logout</a></button>
    </form>
  </div>
</nav>
